@charset "UTF-8";
/*
is logo to name vertical alignment ok?
*/
@page {
  size: A4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.25;
  background: black;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  z-index: -2;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
}

.section {
  padding: 0 2rem;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
  text-align: center;
  color: #ccddff;
}

.button {
  display: inline-block;
  padding: 1rem;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  width: 10rem;
}

.button--bold {
  font-weight: 700;
}

.button--primary {
  background: #003399;
  color: white;
}

.button--tertiary {
  background: transparent;
  color: #ccddff;
}

.link {
  color: #ccddff;
}

.link::after {
  content: '➚';
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.background__div {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.background__div--1 {
  background: #00091a;
  -webkit-transform: rotate(-13.5deg);
          transform: rotate(-13.5deg);
}

.background__div--2 {
  background: #001133;
  -webkit-transform: rotate(-27deg);
          transform: rotate(-27deg);
}

.background__div--3 {
  background: #001a4d;
  -webkit-transform: rotate(-40.5deg);
          transform: rotate(-40.5deg);
}

.background__div--4 {
  background: #002266;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}

.background__div--5 {
  background: #002b80;
  -webkit-transform: rotate(-67.5deg);
          transform: rotate(-67.5deg);
}

.background__div--6 {
  background: #003399;
  -webkit-transform: rotate(-81deg);
          transform: rotate(-81deg);
}

.header {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-align: center;
}

.header__left, .header__role {
  margin-top: -2rem;
}

.header__name {
  font-size: 10rem;
  font-weight: 400;
}

.header__role {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: left;
}

.header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.header__link {
  font-size: 2rem;
  font-weight: 700;
  color: #ccddff;
}

.header__link:not(:last-child) {
  margin-bottom: 1rem;
}

.projects {
  margin: 0 auto;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  padding: 2rem;
  color: white;
  background: rgba(0, 17, 51, 0.5);
  border: 0.1rem solid #002266;
  margin-bottom: 0;
  width: 33.33333%;
}

.projects__project:not(:last-child) {
  margin-right: 2rem;
}

.projects__title {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.projects__description, .projects__built-with {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

.projects__description {
  margin-bottom: 2rem;
}

.projects__built-with {
  margin-bottom: 4rem;
}

.projects__tech {
  font-weight: 700;
}

.projects__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: auto;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.technologies__list {
  width: 50%;
}

.technologies__list-item {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.technologies__list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.education {
  font-size: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.education__entry {
  width: 50%;
}

.education__entry:nth-child(1), .education__entry:nth-child(2) {
  margin-bottom: 4rem;
}

.education__qual-name {
  font-weight: 700;
}

.education__institution {
  font-size: 1.75rem;
}

.employment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  font-size: 2rem;
}

.employment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.employment__list-item {
  color: white;
}

.employment__list-item:first-child {
  font-weight: 700;
  color: white;
}

.employment__list-item:nth-child(2) {
  padding-left: 1rem;
}

.employment__list-item:last-child {
  font-size: 1.75rem;
  padding-left: 2rem;
}

.employment__list-item:not(:last-child) {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=index.css.map */