/*
is logo to name vertical alignment ok?
*/
@page {
  size: A4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  padding: 4rem;
}

.section {
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.section-heading {
  z-index: 1;
  position: relative;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #4d4d4d;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999999;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__left-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.header__logo-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.header__logo-box:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-image: url(../images/jup.png);
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-filter: grayscale(1) brightness(0.55);
          filter: grayscale(1) brightness(0.55);
}

.header__logo {
  position: relative;
  fill: white;
  height: 7.5rem;
}

.header__name {
  font-size: 7.5rem;
  color: transparent;
  background: url(../images/jup.png);
  -webkit-background-clip: text;
  -webkit-filter: grayscale(1) brightness(0.55);
          filter: grayscale(1) brightness(0.55);
}

.header__role {
  font-size: 1.5rem;
  color: #333333;
}

.header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.header__list-item {
  color: #333333;
  font-weight: 700;
}

.header__link {
  font-size: 1.5rem;
}

.projects {
  padding: 0 4rem;
}

.projects__project {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 2rem;
}

.projects__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4d4d4d;
}

.projects__description {
  font-size: 1rem;
  padding: 0 2rem;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4rem;
}

.technologies__list-item {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 1rem;
}

.education {
  padding: 0 4rem;
  font-size: 1.5rem;
}

.education__sub-list {
  padding-bottom: 2rem;
}

.education__list-item:first-child {
  font-weight: 700;
  color: #4d4d4d;
}

.education__list-item:last-child {
  padding-left: 2rem;
}

.employment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4rem;
  font-size: 1.5rem;
}

.employment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin-bottom: 2rem;
}

.employment__list-item:first-child {
  font-weight: 700;
  color: #4d4d4d;
}

.employment__list-item:last-child {
  font-size: 1rem;
}
/*# sourceMappingURL=index.css.map */