@charset "UTF-8";
/*
is logo to name vertical alignment ok?
*/
@page {
  size: A4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: arial;
  line-height: 1.25;
  letter-spacing: 0.025rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #b3991a;
}

a:after {
  content: '➚';
}

li {
  list-style-type: none;
}

.container {
  padding: 3rem 4rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section {
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.section-heading {
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #404040;
  border-bottom: 1px solid #e6e6e6;
}

.section-heading--center {
  text-align: center;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  margin-left: -1rem;
  margin-right: -1rem;
  height: 12rem;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__left-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
  margin-left: 11rem;
}

.header__logo-box {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.header__logo-box:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-image: url(../images/jup.png);
  -webkit-filter: grayscale(1) brightness(0.55);
          filter: grayscale(1) brightness(0.55);
}

.header__logo {
  position: relative;
  fill: white;
  height: 8rem;
}

.header__name {
  font-size: 7.5rem;
  color: transparent;
  background: url(../images/jup.png);
  -webkit-background-clip: text;
  -webkit-filter: grayscale(1) brightness(0.55);
          filter: grayscale(1) brightness(0.55);
}

.header__role {
  font-size: 1.5rem;
  font-weight: 700;
  color: #404040;
  margin-top: -1.5rem;
}

.header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.header__link {
  font-size: 1.5rem;
  font-weight: 700;
}

.projects {
  padding: 0 2rem;
}

.projects__project {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects__project:not(:last-child) {
  margin-bottom: 2rem;
}

.projects__title, .projects__description, .projects__built-with {
  margin-bottom: 0.5rem;
}

.projects__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.projects__description {
  padding: 0 1rem;
  font-size: 1.5rem;
}

.projects__built-with {
  padding: 0 2rem;
  font-size: 1.5rem;
}

.projects__tech {
  font-weight: 700;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.technologies__list {
  width: 50%;
}

.technologies__list-item {
  font-size: 1.5rem;
  font-weight: 700;
  color: #404040;
  text-align: center;
}

.technologies__list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.education {
  padding: 0 2rem;
  font-size: 1.5rem;
}

.education__sub-list:not(:last-child) {
  padding-bottom: 2rem;
}

.education__list-item:first-child {
  font-weight: 700;
  color: #404040;
}

.education__list-item:last-child {
  padding-left: 1rem;
}

.employment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  font-size: 1.5rem;
}

.employment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.employment__list-item:first-child {
  font-weight: 700;
  color: #404040;
}

.employment__list-item:nth-child(2) {
  padding-left: 1rem;
}

.employment__list-item:last-child {
  font-size: 1.25rem;
  padding-left: 2rem;
}

.employment__list-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=index.css.map */