.background {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 150%; // 50%;

	&__div {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transform-origin: top left;
		border: 2px solid $color-primary-75;

		&--1 {
			transform: rotate(-1deg * $home-bg-rotate-multi);
		}

		&--2 {
			transform: rotate(-2deg * $home-bg-rotate-multi);
		}

		&--3 {
			transform: rotate(-3deg * $home-bg-rotate-multi);
		}

		&--4 {
			transform: rotate(-4deg * $home-bg-rotate-multi);
		}

		&--5 {
			transform: rotate(-5deg * $home-bg-rotate-multi);
		}

		&--6 {
			transform: rotate(-6deg * $home-bg-rotate-multi);
		}
	}
}
