.container {
  padding: 3rem 4rem;
  overflow: hidden;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  @include margin-b-md();
  @include padding-h-md();
}

.section-heading {
  @include padding-b-xs();
  @include margin-b-sm();
  @include font-size-lg();
  color: $color-grey-dark;
  border-bottom: 1px solid $color-grey-light;

  &--center {
    text-align: center;
  }
}
