.education {
	font-size: 1.25rem;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__entry {
		width: 50%;
	}

	&__qual-name {
		@include font-weight-bold;
	}

	&__institution {
		@include font-weight-light;
	}
}
