.education {
	font-size: 1.25rem;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__entry {
		width: 50%;
	}

	&__qual-name {
		font-weight: 700;
	}

	&__institution {
		font-weight: 300;
	}
}
