.education {
	font-size: 2rem;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__entry {
		width: 50%;

		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 4rem;
		}
	}

	&__qual-name {
		@include font-weight-bold;
	}

	&__institution {
		font-size: 1.75rem;
	}
}
