.employment {
	display: flex;
	justify-content: space-between;
	@include padding-h-md;
	font-size: 2rem;

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom 2rem;
	}

	&__list-item {
		&:first-child {
			@include font-weight-bold;
		}

		&:nth-child(2) {
			@include padding-l-sm;
		}

		&:last-child {
			font-size: 1.75rem;
			@include padding-l-md;
		}

		&:not(:last-child) {
			margin-bottom 1rem;
		}
	}
}
