.experience {
	display: flex;
	gap: 4rem;
	font-size: 1rem;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		white-space: nowrap;
	}

	&__company-role {
		//
	}

	&__dates-duration {
		display: flex;
		flex-direction: column;
	}

	&__company {
		font-size: 1.25rem;
		font-weight: 700;
	}

	&__role {
		font-weight: 400;
		color: var(--color-text-secondary);
	}

	&__dates,
	&__duration {
		font-size: 0.75rem;
		font-weight: 300;
		color: var(--color-text-secondary);
	}

	&__dates {
		font-weight: 300;
	}

	&__duration {
		font-weight: 300;
	}

	&__detail {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 1.75;
		color: var(--color-text-secondary);

		.emphasis {
			color: var(--color-text-primary);
			font-weight: 600;
		}
	}

	&__detail-item {
		//
	}
}
