.experience {
	display: flex;
	padding: 0 2rem;
	font-size: 1.25rem;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 2rem;
		height: 100%;

		li:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__role {
		font-weight: 700;
	}

	&__duration {
		font-weight: 300;
	}

	&__detail-item {
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 1.5;

		.emphasis {
			font-weight: 600;
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
