@page {
	size: A4;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	color: inherit;
}

body {
	color: $color-primary-5;
	background: $color-white;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	line-height: 1.25;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}
