@page {
  size: A4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // border: 1px solid red;
}

html {
  font-size: 62.5%;
}

body {
  font-family: arial;
  line-height: 1.25;
  letter-spacing: 0.025rem;
  box-sizing: border-box;
  // background: hsl(0%, 0%, 50%);
}

a {
  text-decoration: none;
  color: $color-primary;

  &:after {
    content: '➚';
  }
}

li {
  list-style-type: none;
}
