.header {
  display: flex;
  justify-content: space-between;
  @include margin-b-md();

  &__left {
    display: flex;
    height: 100%;
  }

  &__left-text {
    display: flex;
    flex-direction: column;
    @include margin-l-sm();
  }

  &__logo-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    clip-path: circle();

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: 0;
      right: 0;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      background-image: url(../images/jup.png);
      filter: grayscale(1) brightness(0.55);
    }
  }

  &__logo {
    position: relative;
    fill: $color-white;
    height: 7.5rem;
  }

  &__name {
    @include font-size-xxl();
    @include font-fill-img();
  }

  &__role {
    @include font-size-md();
    @include font-bold-grey();
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  &__link {
    @include font-size-md();
    font-weight: 700;
  }
}
