.header {
	display: flex;
	justify-content: space-between;
	text-align: center;

	&__name {
		font-size: 5rem;
		@include font-weight-bold;
		letter-spacing: -0.05em;
		text-align: left;
	}

	&__role {
		font-size: 2rem;
		text-align: left;
	}

	&__list {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 1.25rem;
		text-align: right;
	}
}
