// ========== FONT WEIGHT

@mixin font-weight-light {
	font-family: $font-open-sans-light;
	font-weight: 300;
}

@mixin font-weight-regular {
	font-weight: 400;
}

@mixin font-weight-bold {
	font-family: $font-open-sans-bold;
	font-weight: 700;
}
