// ========== MARGIN

@mixin margin-r-sm {
	margin-right: 1rem;
}

@mixin margin-r-md {
	margin-right: 2rem;
}

@mixin margin-b-xs {
	margin-bottom: 1rem;
}

@mixin margin-b-sm {
	margin-bottom: 2rem;
}

@mixin margin-b-md {
	margin-bottom: 4rem;
}

@mixin margin-b-lg {
	margin-bottom: 6rem;
}

@mixin margin-b-xl {
	margin-bottom: 8rem;
}

// ========== PADDING

@mixin padding-sm {
	padding: 1rem;
}

@mixin padding-md {
	padding: 2rem;
}

@mixin padding-v-md {
	padding: 2rem 0;
}

@mixin padding-h-sm {
	padding: 0 1rem;
}

@mixin padding-h-md {
	padding: 0 2rem;
}

@mixin padding-h-lg {
	padding: 0 4rem;
}

@mixin padding-h-xl {
	padding: 0 8rem;
}

@mixin padding-b-xs {
	padding-bottom: 0.5rem;
}

@mixin padding-b-sm {
	padding-bottom: 1rem;
}

@mixin padding-b-md {
	padding-bottom: 2rem;
}

@mixin padding-b-lg {
	padding-bottom: 4rem;
}

@mixin padding-l-sm {
	padding-left: 1rem;
}

@mixin padding-l-md {
	padding-left: 2rem;
}

@mixin padding-t-md {
	padding-top: 2rem;
}

// ========== FONT WEIGHT

@mixin font-weight-light {
	font-weight: 300;
}

@mixin font-weight-regular {
	font-weight: 400;
}

@mixin font-weight-bold {
	font-weight: 700;
}
