.projects {
  @include padding-h-md();

  &__project {
    flex-grow: 1;

    &:not(:last-child) {
      @include margin-b-sm();
    }
  }

  &__title,
  &__description,
  &__built-with {
    @include margin-b-xxs();
  }

  &__title {
    @include font-size-md();
    font-weight: 700;
  }

  &__description {
    @include padding-h-sm();
    @include font-size-md();
  }

  &__built-with {
    @include padding-h-md();
    @include font-size-md();
  }

  &__tech {
    font-weight: 700;
  }
}
