.projects {
	margin: 0 auto;

	&__container {
		display: flex;
		justify-content: space-around;
	}

	&__project {
		display: flex;
		flex-direction: column;
		align-items: space-around;
		padding: 2rem;
		border: 0.1rem solid $color-black;
		margin-bottom: 0;
		width: (100%/3);

		&:not(:last-child) {
			@include margin-r-md;
		}
	}

	&__title {
		font-size: 2.5rem;
		@include font-weight-light;
		text-align: center;
		@include margin-b-sm;
	}

	&__description,
	&__built-with {
		margin: 0 auto;
		font-size: 2rem;
		text-align: center;
	}

	&__description {
		@include margin-b-sm;
	}

	&__built-with {
		@include margin-b-md;
	}

	&__tech {
		@include font-weight-bold;
	}

	&__links {
		display: flex;
		justify-content: space-around;
		margin-top: auto;
	}
}
