.technologies {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;

	&__list {
		width: 50%;
	}

	&__list-item {
		font-size: 2rem;
		@include font-weight-bold;
		text-align: center;

		&:not(:last-child) {
			margin-bottom 1rem;
		}
	}
}
