.technologies {
	display: flex;
	justify-content: space-between;
	@include padding-h-md;

	&__list {
		width: 50%;
	}

	&__list-item {
		font-size: 2rem;
		@include font-weight-bold;
		text-align: center;

		&:not(:last-child) {
			@include margin-b-xs;
		}
	}
}
