$color-primary: hsl(220, 100%, 30%);
$color-black: hsl(0, 0%, 20%);
$color-white: hsl(0, 0%, 100%);
$color-grey: hsl(0, 0%, 60%);
$color-grey-light: hsl(0, 0%, 90%);
$color-grey-dark: hsl(0, 0%, 30%);
